@font-face {
    font-family: norse-bold;
    src: url(media/Norse-Bold.otf);
}

* {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
    display: flex;
}

.sidebar {
    background-image: url(media/plant.jpg);
}

.logo-name {
    font-family: norse-bold;
    font-size: 50px;
    color: white;
}

.logo {
    height: 100px;
    width: auto;
}

.box {
    margin: 10px;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
}

.label-input-pair {
    min-width: 35%;
    max-width: 50%;
    margin-bottom: 10px;
}

label {
    display: block;
    color: rgb(30, 30, 30);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}